body {
    background: #E2D0EA
}
.weather-app {
    background-color: violet;
max-width: 38em;
margin: 6em auto;
padding: 6em auto;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: .5rem;
}