body {
    background: #E2D0EA;
}
.weather-app {
background-color: #BBB7D8;
max-width: 38em;
margin: 6em auto;
padding: 6em auto;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: .5rem;
}
.search-form-input{
    background-color: #E2D0EA;
    border: none;
    border-radius: .4rem;
    width: 34em;
    padding: 1.0em ;
    margin: 2em;

}
.search-form-button{
    background-color: #95AAD3;
    border: none;
    border-radius: .4rem;
    padding: 1.0em;
    margin-left: -2em;
    font-size: .8em;
    width: 8em;
    color: #FFFFFF;
    
}