body {
background: #E8DACF;

}
.weather-app {
background-color:#E5EAF2;
max-width: 38em;
margin: 3.5em auto ;
padding: 2em 1em 2em 3em ;
box-shadow: 0 30px 50px rgba(13, 13, 20, 0.438);
border-radius: .6rem;
}
a {
    color: #FF585B;
}
header{
    border-bottom: .01em solid #FF585B;
    padding:  0em 0em .2em 0em;
}
.search-form-input{
    background-color: #C6E9FC;
    border: none;
    border-radius: .4rem;
    width: 70%;
    padding: 1.4em ;
    margin: 2em  ;
    font-size: .9em;
}
.search-form-button{
    background-color:#D26798;
    border: none;
    border-radius: .4rem;
    padding: 1.4em;
    margin-left: -1.5em;
    font-size: .9em;
    width: 8em;
    color: #FFFFFF;
}
main{
    padding: .2em 0em;
}

.weather-information{
    display: flex;
    justify-content: space-between;

}
.weather-container{
    display: flex;
    
    
}
.city{
    margin: 0em;
    font-size: 2.8em;
    line-height: -1em;
}
.weather-details{
    font-size: 1.2em;
    line-height: 1.4em;
    color:rgba(39 ,33,66,0.4);
    font-weight: 500;

}
.weather-details strong {
    color: #f65282;
}
.weather-temperature-value{
    font-size: 4.6em;
    line-height: 1.3em;
    font-weight: bold;
}
.emoji-icon{
    font-size: 2em;
    margin-top: .8em;
}
.weather-unit{
    margin-top: .8em;
    font-size: 1.4em;
    font-weight: bold;
}
.weather-forecast{
    display: flex;
    justify-content: space-around;
    margin-top: 0.8em;
}
.forecast-date{
    text-align: center;
    color:  rgba(39, 33, 66, 0.4);
    line-height: .6em;
    font-size: 1.1em;
    margin-bottom: .4em;
}
.forecast-emoji{
    text-align: center;
    font-size: 1.4em;
}
.forecast-temperatures{
    text-align: center;
    color:#f65282; 
    display: flex;
    margin-top: 0.6em;
    justify-content:center;
}
.forecast-temperature{
    padding: 0 .2em;
}




footer{
    border-top: .01em solid #FF585B;
    padding: 2em 0em 0em 0em;
    text-align: center;
    font-size: .9em;
    color: rgba(0, 0, 0, 0.6);
}